<template name="pedido">
  <div {{attributes}}>
    <div class="pedido-content">

      <h4><span class="glyphicon glyphicon-time"></span> {{hora}} <span class="glyphicon glyphicon-star"></span> {{objetoCliente clienteId}} <span class="pull-right"><input type="checkbox" checked="{{entregado}}" name="checked"></span></h4>

      {{#unless entregado}}
        <p>     
          <ul>
          {{#each productos}}
              <li>
                  {{cantidad}} 
                  {{objetoProducto producto}} 
                  {{#if observaciones}}
                    ({{observaciones}})
                  {{/if}}                     
              </li>
          {{/each}}
          </ul>         
        </p>
      {{/unless}}
    </div>
  </div>
</template>