<template name="form_clientes">
    <form>
        <div class="form-group">
            <label for="input_nombre">Nombre</label>
            <input type="text" class="form-control"
                placeholder="Introduzca nombre"
                id="input_nombre"
                value="{{nombre}}">
        </div>
        <div class="form-group">
            <label for="input_direccion">Dirección</label>
            <input type="text" class="form-control"
                placeholder="Introduzca dirección"
                id="input_direccion"
                value="{{direccion}}">
        </div>
        <div class="form-group">
            <label for="input_telefono">Teléfono</label>
            <input type="number" class="form-control"
                placeholder="Introduzca teléfono"
                id="input_telefono"
                value="{{telefono}}">
        </div>
    </form>
</template>
