<template name="productos">
    <div class="container">
        <h3 class="titulo"><i class="fa fa-leaf"></i>&nbsp;Productos</h3>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                    <tr>
                        <th colspan="50">
                            <form class="form-inline">
                                    <div class="form-group">
                                        <label for="input_title">Buscar: </label>
                                        <input type="text" class="form-control"
                                               placeholder="Introduzca texto"
                                               id="filter_field">
                                    </div>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{#each productos}}
                    <tr id="{{_id}}">
                        <td class="col-md-2">{{nombre}}</td>
                        <td class="col-md-4">{{descripcion}}</td>
                        <td class="col-md-2 text-center">
                            <a class="btn btn-default btn-xs" href="{{pathFor 'show_productos'}}"  id="show"><i class="fa fa-search"></i>&nbsp;Mostrar</a>
                            &nbsp;
                            <a class="btn btn-primary btn-xs" href="{{pathFor 'edit_productos'}}"  id="edit"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                            &nbsp;
                            <a id="deleteModal" class="btn btn-danger btn-xs" href="#myModal" data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
           </table>
        </div>
        <a class="btn btn-success btn-xs" href="{{pathFor 'new_productos'}}"><i class="fa fa-plus"></i>&nbsp;Nuevo producto</a>
    </div>

    {{> productosModal}}

</template>

<template name="productosModal">
    {{#with data}}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>¿ Desea eliminar el producto '{{nombre}}' ?</p>
                    <p class="text-warning"><small>Si elimina el producto no estará disponible para añadirlo a pedidos.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
