<template name="show_productos">
    <div class="container">
        <h3 class="titulo"><i class="fa fa-leaf"></i>&nbsp;Producto</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>Nombre :</strong><br>
                    {{nombre}}</p>
                    <p><strong>Descripción :</strong><br>
                    {{descripcion}}</p>
            </div>
        </div>
        <a class="btn btn-default btn-xs" href="{{pathFor 'productos'}}"><i class="fa fa-mail-reply"></i>&nbsp;Volver</a>
    </div>
</template>
