<template name="pedidos">
    <div class="container">
        <h3 class="titulo">Pedidos <i class="fa fa-globe"></i>&nbsp;{{objetoRuta rutaId}} <i class="fa fa-calendar"></i>&nbsp;{{formateaFecha fecha}} <i class="fa fa-user"></i>&nbsp;{{objetoUsuario repartidorId}}</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th colspan="50">
                                <form class="form-inline">
                                        <div class="form-group">
                                            <label for="input_title">Buscar: </label>
                                            <input type="text" class="form-control"
                                                   placeholder="Introduzca texto"
                                                   id="filter_field">
                                                   <a class="btn btn-primary btn-xs"
                                                href="" id="copyPreviousDay">Copiar pedidos ayer</a>
                                                    <a id="selectDate" class="btn btn-primary btn-xs"
                                                href="#selectDateModal" data-toggle="modal">Copiar pedidos otro día</a>
                                        </div>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th>Hora</th>
                            <th>Cliente</th>
                            <th>Productos</th>                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each pedidos}}
                        <tr id="{{_id}}">
                            <td>{{hora}}</td>
                            <td>{{objetoCliente clienteId}}</td>
                            <td>
                                <ul>
                                {{#each productos}}
                                    <li>
                                        Producto : {{objetoProducto producto}} 
                                        Cantidad : {{cantidad}} 
                                        Observaciones : {{observaciones}}                          
                                    </li>
                                {{/each}}
                                </ul>
                            </td>                                             
                            <td>
                                <a class="btn btn-default btn-xs" href="{{pathFor 'show_pedidos'}}"  id="show">Mostrar </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{pathFor 'edit_pedidos'}}"  id="edit"> Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="" id="delete">Borrar</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
               </table>
            </div>
            <a class="btn btn-success btn-xs" href="{{pathFor 'new_pedidos'}}">Nuevo pedido</a>
            <a class="btn btn-default btn-xs"  href="{{pathFor 'repartos'}}">Volver</a>
        </div> 

        {{> pedidosModal}}

</template>

<template name="pedidosModal">
    
    <div id="selectDateModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title titulo">Copiar pedidos <i class="fa fa-globe"></i>&nbsp;{{objetoRuta rutaId}} <i class="fa fa-user"></i>&nbsp;{{objetoUsuario repartidorId}}</h4>
                </div>
                <div class="modal-body">
                    <div class="width30 form-group {{errorClass 'fecha'}}">           
                        <label class="control-label" for="input_fecha">Fecha</label>
                        <div id="datetimepicker" class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input id="input_fecha" class="form-control" type="text" placeholder="Fecha"/>
                        </div>
                        <span class="help-block">{{errorMessage 'fecha'}}</span>
                    </div> 
                    <p class="text-warning"><small>Se copiarán los pedidos de la fecha que seleccione. No se perderán posibles pedidos que ya haya añadido.</small></p>                                     
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="copiar" type="button" class="btn btn-success">Copiar</button>
                </div>
            </div>
        </div>
    </div>
    
</template>
