.grid-block, .main, .pedido, .comments li, .comment-form {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}
.pedido {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; 
  color: #fff;}
  .pedido.pending {
    background-color: #d9534f;
    border-color: #d43f3a; }
  .pedido.done {
    background-color: #5cb85c;
    border-color: #4cae4c; }
  .pedido:before, .pedido:after {
    content: "";
    display: table; }
  .pedido:after {
    clear: both; }
  .pedido.invisible {
    opacity: 0; }
  .pedido.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .pedido.animate{
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .pedido .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .pedido .pedido-content {
    float: left; 
    width: 100%}
    .pedido .pedido-content h4 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
    .pedido .pedido-content ul {
      margin-bottom: 0;
      margin-top: 0; }
      .pedido .pedido-content h4 a {
        display: inline-block;
        margin-right: 5px; }
      .pedido .pedido-content h4 span {
        font-weight: normal;
        font-size: 16px;
        display: inline-block;}
    .pedido .pedido-content p {
      margin: 0; }
  .pedido .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.titulo {
  color: #4cae4c;
}

.width30 {
  width: 30%;
}
.width60 {
  width: 60%;
}