<template name="panelControl">
	<div class="form-group">
        <form>	             
            <input type="text" class="form-control" placeholder="Buscar" id="filter_field">
        </form>
    </div>

    <div class="row">      
        {{#each repartos}}
            <div class="col-md-4" id="{{_id}}">
                <div class="row">
                  <div class="col-md-6"> <h3 class="titulo"><i class="fa fa-user"></i>&nbsp;{{objetoUsuario repartidorId}}</h3></div>
                  <div class="col-md-6 text-right"><h3 class="titulo"><i class="fa fa-globe"></i>&nbsp;{{objetoRuta rutaId}}</h3></div>
                </div>
                <p>
                    <div class="posts">
                        {{#each pedidosReparto _id}}
                            {{> pedidoPanelControl}}
                        {{else}}
                            <h4>No se han encontrado pedidos para hoy.</h4>
                        {{/each}}
                    </div>
                </p>
            </div>
        {{/each}}  
    </div>
</template>