<template name="pedidoPanelControl">
  <div {{attributes}}>
    <div class="pedido-content">

      <h3><span class="glyphicon glyphicon-time"></span> {{hora}} <span class="glyphicon glyphicon-star"></span> {{objetoCliente clienteId}}</h3>

      {{#unless entregado}}
        <p>     
          <ul>
          {{#each productos}}
              <li>
                  {{cantidad}} 
                  {{objetoProducto producto}} 
                  {{#if observaciones}}
                    ({{observaciones}})
                  {{/if}}                        
              </li>
          {{/each}}
          </ul>         
        </p>
      {{/unless}}
    </div>
  </div>
</template>