<template name="rutas">
    <div class="container">
        <h3 class="titulo"><i class="fa fa-globe"></i>&nbsp;Rutas de reparto y clientes</h3>        
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th colspan="50">
                                <form class="form-inline">
                                        <div class="form-group">
                                            <label for="input_title">Buscar: </label>
                                            <input type="text" class="form-control"
                                                   placeholder="Introduzca texto"
                                                   id="filter_field">
                                        </div>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Clientes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each rutas}}
                        <tr id="{{_id}}">
                            <td class="col-md-4">{{nombre}}</td>
                            <td class="col-md-1 text-center"><a class="btn btn-warning btn-xs" href="{{pathFor 'clientes'}}" id="clientes"><i class="fa fa-group"></i>&nbsp;Clientes</a></td>
                            <td class="col-md-2 text-center">
                                <a class="btn btn-default btn-xs" href="{{pathFor 'show_rutas'}}"  id="show"><i class="fa fa-search"></i>&nbsp;Mostrar</a>
                                &nbsp;
                                <a class="btn btn-primary btn-xs" href="{{pathFor 'edit_rutas'}}"  id="edit"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                                &nbsp;
                                <a id="deleteModal" class="btn btn-danger btn-xs" href="#myModal" data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;Eliminar</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
               </table>
            </div>
            <a class="btn btn-success btn-xs" href="{{pathFor 'new_rutas'}}"><i class="fa fa-plus"></i>&nbsp;Nueva ruta</a>
        </div>

        {{> rutasModal}}
        
</template>

<template name="rutasModal">
    {{#with data}}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>¿ Desea eliminar la ruta '{{nombre}}' ?</p>
                    <p class="text-warning"><small>Si elimina esta ruta, además de no volver a estar disponible, también eliminará los clientes asociados a la misma.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
